/* Latest news */

.container {
  margin: 0 auto;
  width: 90%;
}

h2#latest-news-main-title {
  font-size: 22px;
  font-family: Avalon, sans-serif;
}

.latest-news-img1 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/california-car-ev-hydrogen-future-electruc-fcev-ev-480x270.png");
}

.latest-news-img2 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/header-image-bernie-sitting-meme-analysis-516x270.png");
}

.latest-news-img3 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/1-copy-52-516x270.jpg");
}

.latest-news-img4 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/zoom-fundraising-gq-516x270.png");
}

.latest-news-img5 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/biggst-ev-motor-electric-car-future-diesel-factory-production-future-PSA-world-480x270.png");
}

.latest-news-img6 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/1-copy-51-516x270.jpg");
}

.latest-news-img7 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/biden-electric-cars-future-us-state-vehicles-car-EV-480x270.jpg");
}

.latest-news-img8 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Signal-hed-513x270.jpg");
}

.latest-news-title,
.latest-news-name {
  font-family: maquette, sans-serif;
}

.latest-news-title {
  margin-bottom: 5px;
}

.latest-deals-title,
.latest-news-title {
  font-size: 14px;
  color: #000;
  line-height: 140%;
}

.latest-news-name,
.latest-deals-name,
.latest-news-time {
  font-size: 12px;
  color: #aaa;
}

/* Latest deals */

.latest-deals-img1 {
  background: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdnp2.stackassets.com/7a5a98dff30d5c38ecbc1700812eb2e1b93dce93/store/4b1f63289bd195a7bbafafbe36579fe597a5f1e7a0cb8165012908f3db74/sale_28088_primary_image.jpg");
}

.latest-deals-img2 {
  background: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdnp3.stackassets.com/1ce9b5e7afdcdd63a87d67d709a87ff735114cdd/store/3d847ed1b1c50758b3e478d2bbadfa527516bf72fa57658c5e8f7ffcc3f9/sale_162647_primary_image.jpg");
}

.latest-deals-img3 {
  background: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdnp0.stackassets.com/c1fc5b0d89d9fb684e2ded4df2d6fbcbc3bf5bee/store/2a25d86229518c8634d2dae006e7aa58e735e292002cd2aabc0b17513a54/sale_24707_primary_image.jpg");
}

.latest-deals-img4 {
  background: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdnp3.stackassets.com/b34f2af9e9ec3122eb0c0b252532b61f8a08c0ea/store/243275a3bf8c7d20203d2e6e3b9f3664926f9f8913e755d1ae8811aecd9b/sale_25748_primary_image.jpg");
}

.latest-deals-img5 {
  background: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdnp3.stackassets.com/549384f77e88448bc914df09683a756f0c5e4c57/store/70bd980cd752af445b083eb46b1db2fb3fcee3c55eddbade2cae4193f5c5/sale_162254_primary_image.jpg");
}

.latest-deals-img6 {
  background: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdnp3.stackassets.com/131a74f7d56643b61ee30fb3e8da705c53031bed/store/b32bf58c9865347773f96c04f56c69f07227e61baeb48f8ffffec4861e5e/sale_18296_primary_image.jpg");
}

.latest-deals-img7 {
  background: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdnp2.stackassets.com/dd2a99b3f7d21cd700c3d210798ff74322c011d5/store/f4313846701bed0b9cbd6b0a983722fdce21faef621975d07c3a90a79e55/sale_148067_primary_image.jpg");
}

.latest-deals-img8 {
  background: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdnp1.stackassets.com/78d21e7906585957a1c4878636e0265d8bc3dffe/store/b39642357ca106ff7341d682ee27edcec23cbb3b7c2e9ddc690bb89533f1/sale_162717_primary_image.jpg");
}

.latest-news-img,
.latest-deals-img {
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  border: solid 1px black;
  border-left: none;
  border-top: none;
}

.latest-deals-name {
  text-decoration: line-through;
}

.latest-deals-money {
  color: #555;
  font-family: maquette, sans-serif;
  font-size: 16px;
  margin: 1px 0 0 3px;
}

.latest-deals-title:hover,
.latest-news-title:hover {
  color: #f42;
  text-decoration: underline;
}

.latest-news-name:hover {
  color: #555;
}

#categories .general-title h2 {
  font-size: 24px;
  font-family: Avalon, sans-serif;
  font-weight: bold;
}

.section-popular {
  height: 0;
  padding-top: 75%;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.section-popular div:first-child {
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.section-popular-trigger {
  background: transparent
    url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152646oe_/https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png")
    no-repeat;
  background-size: 100% 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.section-popular-image-1 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/1280px-GameStop_Globen-e1611550531323-368x276.jpg");
}

.section-popular-header {
  bottom: 0;
  left: 0;
  padding: 14px;
  position: absolute;
  right: 0;
  z-index: 3;
}

.section-popular-section {
  color: white;
  font-size: 13px;
}

.section-popular-title a {
  line-height: 1.1;
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.section-popular-byline,
.section-popular-byline a {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.section-popular-byline li {
  display: inline-block;
}

.section-popular-byline li:first-child::after {
  content: "\B7";
  display: block;
  float: right;
  margin: 0 3px 0 6px;
}

.section-latest {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 68, 34, 0.06);
  margin: 2px 0;
}

.section-latest-image {
  flex: 0 0 96px;
  background-color: #000;
  background-position: 50%;
  background-size: cover;
  height: 96px;
  width: 96px;
}

.section-latest-image-1 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/1280px-20th_Anniversary_Schwab_Foundation_Gala_Dinner_44887783681-e1611132397581.jpg");
}

.section-latest-title {
  max-height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.section-latest-header {
  flex: 1;
  overflow: hidden;
  padding: 10px 14px 0;
}

.section-headline {
  border-bottom: 1px solid #eee;
}

.section-headline h4 {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.section-headline h4 a {
  color: #555;
  display: block;
  padding: 6px 0 6px 14px;
  position: relative;
  text-decoration: none;
}

.section-headline h4 a::before {
  background-color: #f42;
  border-radius: 50%;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 4px;
}

.section-popular-image-2 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Snag_3c8ecdc-368x276.png");
}

.section-latest-image-2 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/header-image-bernie-sitting-meme-analysis.png");
}

.section-latest-image-3 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/11/Apple-AR-glasses-headset.jpg");
}

.section-popular-image-3 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2015/03/MacBook-USB-C-Feat-Img-730x365.jpg");
}

.section-popular-image-4 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/06/vintage-robot-368x276.jpg");
}

.section-popular-image-5 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/Untitled-design-13-368x276.png");
}

.section-popular-image-6 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/open-source-code-gq-368x276.png");
}

.section-latest-image-4 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/1-copy-52.jpg");
}

.section-latest-image-5 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/09/Untitled-design-13.jpg");
}

.section-latest-image-6 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/google-logo-podium.png");
}

.section-popular-image-7 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/zoom-fundraising-gq-368x276.png");
}

.section-latest-image-7 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/dev-leadership-gq.png");
}

.section-popular-image-8 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/toyota-suv-new-ev-car-future-electric-japan-368x276.jpg");
}

.section-latest-image-8 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/hummer-ev-future-car-love-hate-next-gmc-gm-ultium.jpg")
}

.section-popular-image-9 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/amplified-368x276.jpg");
}

.section-latest-image-9 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/bloodlines.jpg");
}



.section-headline-title img {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

.story-dealDiscount {
  background-image: url(https://wr.perma-archives.org/public/m5zv-q2d6/20210126152646oe_/https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/deals-ribbon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: #000;
  display: none;
  height: 80px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  z-index: 10;
}

.story-dealDiscount > div {
  transform: rotate(45deg);
  font-size: 14px;
  font-weight: 700;
  left: 8px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 20px;
  width: 100%;
}

.latest-new {
  position: relative;
}
