@media screen and (min-width: 768px) {
  .container {
    width: 98%;
  }

  #latest-news-main-title {
    margin-left: 15px;
    font-size: 28px;
  }

  .latest-news-container {
    display: flex;
    flex-flow: wrap;
  }

  .latest-new {
    flex-direction: column;
    width: 33.333%;
    box-sizing: border-box;
    padding-left: 15px;
    display: flex;
  }

  .latest-news-img {
    width: 100%;
    height: 128px;
    margin-bottom: 10px;
  }

  .latest-deals-img {
    width: 100%;
    height: 201px;
  }

  .latest-news-text {
    width: 100%;
    line-height: 120%;
  }

  .hide {
    display: none;
  }

  #categories {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
  }

  #categories > section {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }

  .story-dealDiscount {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .latest-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .latest-news-img,
  .latest-deals-img {
    border: none;
  }

  .hide {
    display: block;
  }

  #categories > section {
    width: 33.3333%;
    padding: 10px;
    box-sizing: border-box;
  }

  .container {
    width: 70%;
  }

  .latest-new {
    width: 100%;
  }

  .story-dealDiscount {
    display: block;
  }
}
